#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

 /* Глобальні стилі або в локальному файлі компонента */
#header-content {
  display: flex;
  align-items: center;
}

#icon {
  width: 48px; /* Задайте розмір логотипу за потребою */
  height: 48px;
  margin-right: 10px; /* Додайте відступ між логотипом і текстом */
}

#title {
  flex: 1; /* Займіть доступний залишок простору для гнучкого розташування тексту */
  white-space: nowrap; /* Забороніть перенесення тексту на новий рядок */
  overflow: hidden; /* Забороніть виходження тексту за межі блока */
  text-overflow: ellipsis; /* Використовуйте мітку "еліпсис" для обрізання тексту, якщо він не поміщається */
  font-size: 30pt;
}

#card-photo {
  width: 100px; /* Задайте розмір логотипу за потребою */
  height: 100px;
  margin-bottom: 10px; /* Додайте відступ між логотипом і текстом */
}